html {
  background: linear-gradient(to top, #dc6e6e, #29046f);
}

@supports (background: linear-gradient(to top, #dc6e6e, #29046f)) {
  html {
    background: linear-gradient (to top, #dc6e6e, #29046f);
  }
}

@supports not (background: linear-gradient(to top, #dc6e6e, #29046f)) {
  html {
    background: #000;
  }
}

.navigation {
  border: 0;
  height: 50px;
  background-size: cover;
  background-color: rgb(3, 145, 98);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.example1 {
  width: 100px;
  height: 100px;
  margin: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  transition: width 3s;
}

.example1:hover {
  width: 300px;
}

img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.example2 {
  width: 100px;
  height: 100px;
  margin: 50px;
  margin-bottom: 200px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  align-items: center;
  animation-name: example2;
  animation-duration: 7s;
}

@keyframes example2 {
  0% {
    background-color: blue;
  }

  25% {
    transform: translateX(250px) translateY(150px);
    background-color: rgb(31, 210, 106);
  }

  50% {
    transform: translateX(500px) translateY(0px);
    background-color: rgb(203, 228, 14);
  }

  75% {
    transform: translateX(250px) translateY(150px);
    background-color: rgb(229, 25, 25);
  }

  100% {
    transform: translateX(250px) translateY(px);
    background-color: rgb(255, 0, 255);
  }
}

.tooltip {
  margin: 5px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 50px;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(3, 0, 164);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff00;
  border-top-color: rgb(3, 0, 164);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.text-decoration {
  width: 80px;
  height: 25px;
  margin: 50px;
  background-image: url(./images/3.\ Леопард.jpg);
}

h2 {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}
